<h1>Nasa fotos</h1>
<p><span>Cantidad de fotos: </span><%= @photos.count %></p>
<p>
  <%= form_tag("/nasa_photos/index", {:method => "get"}) do %>
    <%= label_tag(:page, "Página:") %>
    <%= number_field_tag(:page, params[:page]) %>
    <%= submit_tag("Buscar") %>
  <% end %>
</p>
<p>
  <%= build_web_page(@photos) %>
</p>
